<div class="container table-responsive py-5">
  <h2 class="text-center">Books</h2>
  <div class="container mt-4">
    <div class="d-flex flex-wrap gap-2">
      <button *ngFor="let letter of alphabets" class="btn"
        [ngClass]="{ 'btn-primary': selectedLetter === letter, 'btn-outline-primary': selectedLetter !== letter }"
        (click)="selectLetter(letter)">
        {{ letter }}
      </button>
      <button class="btn"
        [ngClass]="{ 'btn-primary': selectedLetter === outOfStock, 'btn-outline-primary': selectedLetter !== outOfStock }"
        (click)="selectLetter(outOfStock)">
        {{ outOfStock }}
      </button>
    </div>
  </div>
  <hr>
  <table class="table table-bordered" *ngIf="books.length > 0; else noData">
    <thead class="thead-dark">
      <tr>
        <th>S.No</th>
        <th>Book Image</th>
        <th>Title</th>
        <th style="width: 160px;">ISBN</th>
        <th>Author</th>
        <th>Locations</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books; let i = index">
        <td>{{ i + 1 }}</td>
        <td><img [src]="'data:image/png;base64,' + book.image" height="150" alt="{{ book.title }}"></td>
        <td>{{ book.title | titlecase }}</td>
        <td>{{ book.isbn | isbnFormat}}</td>
        <td>{{ book.author }}</td>
        <td>
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <td>Bed</td>
                <td>Almirah</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ book.locations.bed }}</td>
                <td>{{ book.locations.almirah }}</td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <button type="button" class="btn btn-primary" (click)="updateBook(book)">Update</button>
          <hr>
          <strong>Last Updated On:</strong> {{ book.lastUpdatedOn | date:'dd-MMM-yyyy HH:mm:ss a' }}
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Template to show when books array is empty -->
  <ng-template #noData>
    <p>No books available.</p>
  </ng-template>
</div>