<h2 class="my-5 text-center">Which City You Like?</h2>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card shadow">
        <div class="cutter position-relative">
          <img src="https://images.unsplash.com/photo-1499092346589-b9b6be3e94b2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjR8fGNpdHl8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="loading">
          <i class="far fa-heart fa-2x position-absolute text-danger" aria-hidden="true"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title text-uppercase text-start">New york</h5>
          <p class="card-text text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, velit. Commodi suscipit.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card shadow">
        <div class="cutter position-relative">
          <img src="https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y2l0eXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="loading">
          <i class="far fa-heart fa-2x position-absolute text-danger" aria-hidden="true"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title text-uppercase text-start">london</h5>
          <p class="card-text text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, velit. Commodi suscipit.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card shadow">
        <div class="cutter position-relative">
          <img src="https://images.unsplash.com/photo-1465447142348-e9952c393450?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjB8fGNpdHl8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="loading">
          <i class="far fa-heart fa-2x position-absolute text-danger" aria-hidden="true"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title text-uppercase text-start">los vegas</h5>
          <p class="card-text text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, velit. Commodi suscipit.</p>
        </div>
      </div>
    </div>
  </div>
</div>