<header>
    <div class="logo"><a href="#">
      <img src="logo.png" class="mobile-img" alt="InkQuills Logo">
    </a></div>
    <nav [class.active]="isActive">
      <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
      </ul>
    </nav>
    <div class="menu-toggle" (click)="toggleSidebar()"><i class="fa fa-bars"></i></div>
  </header>