<header>
    <div class="logo"><a href="#">
            <img src="logo.png" class="mobile-img" alt="InkQuills Logo">
        </a></div>
    <nav [class.active]="isActive">
        <ul>
            <li class="nav-item">
                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link" ariaCurrentWhenActive="page">
                    <fa-icon [icon]="faHouse"></fa-icon>
                    Dashboard
                </a>
            </li>
            <li>
                <a routerLink="/books" (click)="clearalphabet()" routerLinkActive="active" class="nav-link"
                    ariaCurrentWhenActive="page">
                    <fa-icon [icon]="faBook"></fa-icon>
                    Books
                </a>
            </li>
            <!-- <li>
                <a class="nav-link">
                    <fa-icon [icon]="faEllipsisV"></fa-icon>
                </a>
            </li>
            <li>
                <a>
                    <fa-icon [icon]="faCircleUser"></fa-icon>
                    <span>&nbsp;</span>
                    <strong>{{ Name | titlecase }}</strong> ({{ Role | titlecase }})
                </a>
            </li>
            <li>
                <a class="nav-link">
                    <fa-icon [icon]="faEllipsisV"></fa-icon>
                </a>
            </li>
            <li>
                <a routerLink="/login" (click)="logout()" routerLinkActive="active" class="nav-link"
                    ariaCurrentWhenActive="page">
                    <fa-icon [icon]="faPowerOff"></fa-icon>
                    Logout
                </a>
            </li> -->
        </ul>
    </nav>
    <div class="menu-toggle" (click)="toggleSidebar()"><i class="fa fa-bars"></i></div>
</header>